
body{
    background: rgb(162, 207, 228) ;
    color: #25282b;
    font-family: 'Montserrat', sans-serif;
}

body.hideScroll{
    overflow: hidden;
    
}

button{
    border: none;
    font-weight: bold;
    background: none;
    color: #ff5e84;
}

#principal{
    width: 80%;
    max-width:980px;
    margin-right: auto;
    margin-left: auto;  
    display: flex;
    margin-top: 40px;
    height: 600px;
}

#left{
    width: 300px;
    padding: 10px;
    margin-right: 60px;
   
}

#left img{
    width: 290px;
    margin-right: 20px;  
}

p{
    line-height: 24px;
    letter-spacing: 0.1px;
}

.descricao{
    line-height:18px;
}


.button{
    color: white; 
    border: none;
    background: #ff5e84;
   
    border-radius: 8px;

    font-size: 14px;
    font-weight: bold;
    

    width: 150px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
   
}

.button:hover{
    background-color: #0984e3 ;
    text-decoration: none;
    color: black;
}

#footer{
    text-decoration: none;
    color: #25282b;
    text-align: center;
}

#footer a{
    text-decoration: none;
    color:#ff5e84;
}

#button{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;

    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.1px;

}



a{
    text-decoration: none;
    color: #ff5e84;
    text-align: center;
}


button:hover{
    background: white;
    color: #ff5e84;
    width: 130px;
    padding: 10px;
    border-radius: 10px;

    transition: 400ms;
}


#last-ideas{
    max-width: 630px;
    font-size: 0.8em;
}


#formatation-ideas img{
    width: 60px;
    height: 60px;
    margin-right: 22px;
    padding: 20px;
}

.idea{
    display: flex;
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-bottom: 20px;
    box-shadow: 0 4px 16px -8px black;
}

.idea p{
    margin: 8px 0;
    color: #777;
}

.idea .descricao{
    margin: 16px 0;
}

.content a:hover{
    text-decoration: underline;
}

.content{
    margin-right: 20px;
}

#modal{
    background: #ff5e84;
    position: fixed;
    left: 0;

    top: 0;
    
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;

    transition: 400ms;
}

#modal.addScroll{
    overflow: auto;
}

#modal .content{
    margin-top: 5%;
    color: white;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    max-width: 800px;
    width: 80%;
    margin: 0 auto 15%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;
}

form input, form textarea{
    width: 100%;

    padding:12px;

    box-sizing: border-box ;
    border-radius: 6px;
    border: 1px solid #e6476c;

    outline: none;
    font-size: 16px;

}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a{
    width: 150px;
    height: 40px;

    background-color: #ffffff22;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: end;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;

    transition: 400ms;
}

form a:hover{
    background: white;
    text-decoration: none;
    color: #ff5e84;
}

form button{
    background: white;
     
    width: 150px;
    height: 40px;

    border-radius: 6px;

    cursor: pointer;

    margin-top: 32px;

    grid-column: 2;
    justify-self: end;

    
    transition: 400ms;
}

form button:hover{
    background: #0984e3;
    color: white;

    text-decoration:none;

    width: 150px;
    height: 40px;

}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

/*IDEA.HTML*/

#page-idea header{
    display: flex;
    justify-content: space-between;

}

#page-idea #principal{
    display: block;
    justify-content: space-between;
}

#page-idea nav{
    display: flex;
    align-items: center;

}

#page-idea nav li{
    list-style: none;

    margin-right: 8px;
    
}

#page-idea nav li a{
    color: #25282b;
    font-weight: bold;
}

#page-idea nav li:last-child{
    margin: 0;
    width: 150px;
    height: 40px;

    background-color: #ff5e84;

    display: flex;
    align-items: center;
    justify-content: center;

   border-radius: 8px;

}


section#title{
    text-align: center;
    margin: 64px 0;
}

section#title p{
    opacity: 0.7;
    margin: 0;
}

section#title h1{
    font-size: 28px;
    margin: 0;
}

section#ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}


section#ideas .idea{
    margin: 0;
}

section#ideas #formatation-ideas{
    margin: 0;
}

section#title,
sections#ideas,
footer{
    margin-top: 64px;
}

main a:hover{
    text-decoration: underline;
}





